<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Global world time in any time zone and for any place."/>

        <title>Current time</title>
        <style>
            body {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <div class="lg">
            <h2>
                <a href="https://utctime.info/" target="_top" title=utctime.info">UTC Time</a>
            </h2>
        </div>
        <div>
            <span id="address">
                <span>Exect time in: </span>
                <br/>
                <span class="city">{{context.address}}</span>
            </span>
        </div>
        <div id="location">
            <span class="location">Location: {{context.location}}</span><br/>
            <span class="timezone">Timezone: {{context.tzname}} </span>+<span class="delta">{{context.delta}}</span>
        </div>
        <div>
            <span>Date: </span>
            <span id="date">
                <span class="year">{{context.year}}</span>/<span class="month">{{context.month}}</span>/<span class="day">{{context.day}}</span>
            </span>
        </div>
        <div>
            <span>Current time: </span>
            <span id="clock" data-time={{context.time}}>
                <span class="hour">{{context.hour}}</span>:<span class="min">{{context.minute}}</span>:<span class="sec">{{context.second}}</span>
            </span>
        </div>

        <div>
            <p>UTCTIME.INFO - time for any place and time zone</p>
        </div>

        <script>
            let timerId;
            function update() {
                let clock = document.getElementById('clock');
                let date = new Date(); // (*)
                let hours = date.getHours();
                if (hours < 10) hours = '0' + hours;
                clock.children[0].innerHTML = hours;

                let minutes = date.getMinutes();
                if (minutes < 10) minutes = '0' + minutes;
                clock.children[1].innerHTML = minutes;

                let seconds = date.getSeconds();
                if (seconds < 10) seconds = '0' + seconds;
                clock.children[2].innerHTML = seconds;
            }

            timerId = setInterval(update, 1000);
            update();
        </script>
    </body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101337444-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-101337444-5');
    </script>
</html>
