<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Global world time in any time zone and for any place."/>

        <title>Current time</title>
        <style>
            body {
                margin-top: 0;
            }
            .logo {
                display: inline-block;
                margin-bottom: 10px;
                padding: 20px;
                background-color: #297975;
            }
            .logo a {
                color: white;
                font-size: 30px;
                text-decoration: none;
            }
            #clock {
                font-size: 8em;
            }
            .cities {
                margin: 100px 0;
            }
            .cities a {
                display: inline-block;
                padding: 20px;
                margin: 5px;
                background-color: #297975;
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="logo">
                <a href="https://utctime.info/" target="_top" title="utctime.info">UTC Time</a>
            </div>
        </div>
        <div>
            <span>Current time: </span><br/>
            <span id="clock" data-time={{context.time}}000>
                <span class="hour">{{context.hour}}</span>:<span class="min">{{context.minute}}</span>:<span class="sec">{{context.second}}</span>
            </span>
        </div>
        {% if context.address %}
            <div>
                <span id="address">
                    <span>Exect time in: </span>
                    <br/>
                    <span class="city">{{context.address}}</span>
                </span>
            </div>
        {% endif %}
        <div id="location">
            <span class="location">Location: {{context.location}}</span><br/>
            <span class="timezone">Timezone: {{context.tzname}} </span>+<span class="delta">{{context.delta}}</span>
        </div>
        <div>
            <span>Date: </span>
            <span id="date">
                <span class="year">{{context.year}}</span>/<span class="month">{{context.month}}</span>/<span class="day">{{context.day}}</span>
            </span>
        </div>

        <div>
            <p>UTCTIME.INFO - time for any place and time zone</p>
        </div>

        <div class="cities">
            <a href="https://utctime.info/Tokyo" title="Tokyo">Tokyo</a>
            <a href="https://utctime.info/Vienna" title="Vienna">Vienna</a>
            <a href="https://utctime.info/Minsk" title="Minsk">Minsk</a>
            <a href="https://utctime.info/London" title="London">London</a>
            <a href="https://utctime.info/Helsinki" title="Helsinki">Helsinki</a>
            <a href="https://utctime.info/Paris" title="Paris">Paris</a>
            <a href="https://utctime.info/Berlin" title="Berlin">Berlin</a>
            <a href="https://utctime.info/Jakarta" title="Jakarta">Jakarta</a>
            <a href="https://utctime.info/New%20Delhi" title="New Delhi">New Delhi</a>
            <a href="https://utctime.info/Beijing" title="Beijing">Beijing</a>
            <a href="https://utctime.info/Pyongyang" title="Pyongyang">Pyongyang</a>
            <a href="https://utctime.info/Oslo" title="Oslo">Oslo</a>
            <a href="https://utctime.info/Moscow" title="">Moscow</a>
            <a href="https://utctime.info/Singapore" title="Singapore">Singapore</a>
            <a href="https://utctime.info/Seoul" title="">Seoul</a>
            <a href="https://utctime.info/Bangkok" title="Bangkok">Bangkok</a>
            <a href="https://utctime.info/Kiev" title="Kiev">Kiev</a>
            <a href="https://utctime.info/London" title="London">London</a>
            <a href="https://utctime.info/Abu%20Dhabi" title="Abu Dhabi">Abu Dhabi</a>
            <a href="https://utctime.info/Greenwich" title="UTC Greenwich">UTC Greenwich</a>
        </div>

        <div>
            <p>A time zone is a region of the globe that observes a uniform standard time for legal, commercial and social purposes. </p>
        </div>

        <div>
            <p>Coordinated Universal Time (or UTC) is the primary time standard by which the world regulates clocks and time. It is within about 1 second of mean solar time at 0° longitude, and is not adjusted for daylight saving time. It is effectively a successor to Greenwich Mean Time (GMT).</p>
        </div>
    </body>
    <script>
      let timerId;
      let clock = document.getElementById('clock');
      let time = +clock.dataset.time;
      function update() {
        let date = new Date(time);
        let hours = date.getHours();
        if (hours < 10) hours = '0' + hours;
        clock.children[0].innerHTML = hours;

        let minutes = date.getMinutes();
        if (minutes < 10) minutes = '0' + minutes;
        clock.children[1].innerHTML = minutes;

        let seconds = date.getSeconds();
        if (seconds < 10) seconds = '0' + seconds;
        clock.children[2].innerHTML = seconds;
        time += 1000;
      }

      timerId = setInterval(update, 1000);
      update();
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101337444-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-101337444-5');
    </script>
</html>
